
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: purple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    margin: 200px 450px;
    background-color: white;
}

.box{
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
#cityInput{
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #000;
    color: #fff;
}

#btn{
    width: 100px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 25px;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.block{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    color: #000;
}
